<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mabatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="mappers.memberDAO-mapper">
	
	<insert id="newMember" parameterType="com.ms.cook.member.vo.MemberVO">
		insert into member(id,pw,name,address,email) values(#{id},#{pw},#{name},#{address},#{email})
	</insert>
	
	<select id="chkID" parameterType="String" resultType="int">
		select count(*) from member where id = #{id}
	</select>
	
	<select id="chkEMAIL" parameterType="String" resultType="int">
		select count(*) from member where email = #{email}
	</select>
	
	<select id="login" parameterType="String" resultType="com.ms.cook.member.vo.MemberVO">
		select id,pw,name,address,cdate,email from member where id = #{id}
	</select>
	
	<select id="doMod">
		update member set pw = #{pw} where id = #{id}
	</select>
	
	<select id="getPw" resultType="String" parameterType="java.util.HashMap">
		select pw from member where id = #{id}
	</select>
	
	<delete id="doDel" parameterType="java.util.HashMap">
		delete member where id = #{id}
	</delete>
</mapper>